<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoutu.sharding.demo.mapper.OrderMapper">


    <!-- useGeneratedKeys="true"  -->
    <insert id="insert"  parameterType="com.baoutu.sharding.demo.bean.Order">
       insert into t_sharding_order (user_id,order_id,status) values (#{userId},#{orderId},#{status})
    </insert>

    <delete id="delete">
        DELETE FROM t_sharding_order WHERE order_id = #{orderId,jdbcType=INTEGER}
    </delete>


</mapper>